<div class="container">
    <form name="loginForm">
            <section class="center-text">
                    <h2 class="cursive cursive-header">
                      <span>Login</span>
                    </h2>
                 
                  </section>
                  <section style="text-align: center;"  class="sectionReg extra-container">
                      <md-input-container>
                          <label>Email</label>
                          <input ng-model="ctrl.model.Email" required type="email" name="email">
                      </md-input-container>
                      <md-input-container>
                          <label>Password</label>
                          <input ng-model="ctrl.model.Password" required type="password" name="password" 
                          ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.{8,})/">
                      </md-input-container>
                      <md-button class="md-raised" type="submit" ng-click="ctrl.login()">Sign in</md-button>
                    </section>

                   
    </form> 
</div>

