.sideBackground{
    height: 50%;
    width: 40%;
    position: absolute;
    right: 0;
    top: 25%;
    z-index: 0;
}
.box {
    width :400px;
    height:400px;
    background-color:#aaaa00;
    margin:150px auto;
}

.quateImg {
    width: 100%;
    height: auto;
}

.main{
    z-index: 1;
   /* position: fixed;
    top: 50%;
    top: 30%;
    left: 40%;
    margin-top: -9em;
    margin-left: -15em;*/
}

button{
    width: 110px;
    background: transparent !important;
    border: 1px solid black !important;
}

.imgInfo{
    height: 15%;
    top: 15%;
}

.cellInfo{
    width: 33%;
    height: 33%;
}
.center-text{
    text-align: center;
}
.divInfo{
    text-align: center;
    display: flex;
    width: 60%;
    top: 85%;
}

.cursive-header{
    /*@media screen and (max-width: $wide){
        font-size: 70px;
        height: 200px;
    }
    @media screen and (max-width: $wideToMedium){
        font-size: 61px;
        height: 186px;
    }
    @media screen and (max-width: $medium){
        font-size: 52px;
        height: 172px;
    }
    @media screen and (max-width: $small){
        font-size: 40px;
        height: 158px;
    }
    @media screen and (max-width: $narrow){
        font-size: 27px;
        height: 144px;
    }
    @media screen and (max-width: $smallest){
        font-size: 23px;
        height: 130px;
    }*/
    color: white;
    position: relative;
    display: block;
    padding-top: 15px;
    margin: 0;
   

    .leftsize{
        position: relative;
        width: 100%;
        display: flex;
        left: 10%;
         
        /*@media screen and (max-width: $wide){
            left: 80px; 
        }
	    @media screen and (max-width: $wideToMedium){
            left: 65px; 
        }
	    @media screen and (max-width: $medium){
            left: 30px; 
        }
 	    @media screen and (max-width: $small){
            left: px; 
        }
        @media screen and (max-width: $narrow){
            left: px; 
        }
	    @media screen and (max-width: $smallest){
            left: px; 
        }*/
    }
    .rightsize{
        position: relative;  
        width: 100%;
        display: flex;
        top: 30%;
        left: 40%; 
         
        /*@media screen and (max-width: $wide){
            top: 20px;
            left: 265px; 
        }
	    @media screen and (max-width: $wideToMedium){
            top: 20px;
            left: 140px;
        }
	    @media screen and (max-width: $medium){
            top: 30px;
            left: 55px;
        }
 	    @media screen and (max-width: $small){
            top: 44px;
            left: 23px;
        }
        @media screen and (max-width: $narrow){
            top: 54px;
        }
	    @media screen and (max-width: $smallest){
            top: 45px;
        }*/
    }
}
.mainP{
    @media screen and (max-width: $tomobile){
        font-size: 20px;
    }
    /*@media screen and (max-width: $wide){
        font-size: 25px;
    }
    @media screen and (max-width: $wideToMedium){
        font-size: 23px;
    }
    @media screen and (max-width: $medium){
        font-size: 21px;
    }
    @media screen and (max-width: $small){
        font-size: 19px;
    }
    @media screen and (max-width: $narrow){
        font-size: 17px;
    }
    @media screen and (max-width: $smallest){
        font-size: 13px;
    }*/
    color: white;
    font-weight: lighter;
    width: 70%;
    text-align: left !important;
    font-weight: inherit;
    padding-top: 10px;
}

.circles{
    @media screen and (max-width: $tomobile){
        display: inline-grid;
    }
    li{
        display: inline-table;
        overflow: hidden;
        text-align: center;
        /*@media screen and (max-width: $wide){
            margin: 50px 50px;
        }
        @media screen and (max-width: $wideToMedium){
            margin: 41px 41px;
        }
        @media screen and (max-width: $medium){
            margin: 32px 32px;
        }
        @media screen and (max-width: $small){
            margin: 14px 14px;
        }
        @media screen and (max-width: $narrow){
            margin: 5px 5px;
        }
        @media screen and (max-width: $smallest){
            margin: 5px 5px;
        }*/

        span{
            /*@media screen and (max-width: $wide){
                max-width: 240px;
                font-size: 16px;
                margin-top: 20px;
            }
            @media screen and (max-width: $wideToMedium){
                max-width: 213px;
                font-size: 15px;
                margin-top: 19px;
            }
            @media screen and (max-width: $medium){
                max-width: 186px;
                font-size: 14px;
                margin-top: 18px;
            }
            @media screen and (max-width: $small){
                max-width: 159px;
                font-size: 13px;
                margin-top: 17px;
            }
            @media screen and (max-width: $narrow){
                max-width: 105px;
                font-size: 12px;
                margin-top: 16px;
            }
            @media screen and (max-width: $smallest){
                max-width: 85px;
                font-size: 10px;
                margin-top: 15px;
            }*/
            display: flex;
            color: white;
            font-weight: lighter;
        }
        img{
            /*@media screen and (max-width: $wide){
                width: 100px;
                height: 100px;
            }
            @media screen and (max-width: $wideToMedium){
                width: 87px;
                height: 87px;
            }
            @media screen and (max-width: $medium){
                width: 74px;
                height: 74px;
            }
            @media screen and (max-width: $small){
                width: 61px;
                height: 61px;
            }
            @media screen and (max-width: $narrow){
                width: 35px;
                height: 35px;
            }
            @media screen and (max-width: $smallest){
                width: 28px;
                height: 28px;
            }*/
            position: relative;
            padding: 20px;
            border-radius: 100%;
            border: 3px solid white;
            background: rgba(255, 255, 255, 0.7);
            margin-left: 25%;
        }
    }
}

