<div class="container">
    <section class="center-text">
        <h2 class="cursive cursive-header pAHeader">
            Goal Statistics
        </h2>   
    </section>

    <div class="divGraps">
        <section >
            <div id="goalChart" class="grap"></div>
            <!-- <canvas ng-if="!ctrl.showSorryMessage" class="chart chart-line grap" chart-data="ctrl.data" chart-labels="ctrl.labels" chart-series="ctrl.series" chart-options="ctrl.options">
            </canvas>  -->
            <p ng-if="ctrl.showSorryMessage">SORRY! gain more goals to view this page!</p>
        </section>
    </div>
</div>